<!-- <ul>
    <li *ngFor="let item of resultados">
        {{ item.title }}
    </li>
</ul> -->

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Hey
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Oe
                </p>
            </div>
        </div>
    </div>
</div>